.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.select {
	width: 100%;
	margin-top: 1rem;
	border: 1px solid var(--gray-light);
	border-radius: 12px;
	background-color: var(--gray-light);
	padding: 0.4rem;
	font-size: 0.8rem;
	font-weight: 600;
}

.select option {
	font-size: 0.8rem;
	font-weight: 600;
}
