html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: #585858;
  --secondary-color: #e74c3c;
  --gray-dark: #383838;
  --gray-light: #e2e2e2;
}

body {
  margin: 0;
  font-family: sans-serif;
}
